<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>

        {% for i in user %}

        <h2>{{user.NAME}}</h2>
        <h3>{{user.PLACE}}</h3>

        {% endfor %}

    <!-- <table>
        <thead>
            <tr>
                <th>NAME</th>
                <th>PLACE</th>
            </tr>
        </thead>
        <tbody>

            {% for i in user %}
            <tr>
                <td><li>{{user.NAME}}</li></td>
                <td><li>{{user.PLACE}}</li></td>
            </tr>
            {% endfor %}

        </tbody>
    </table> -->
</div>
    </body>
</html>